@page "/"

<h3>Welcome to Gringotts Wizarding Bank</h3>
<p>Select an option:</p>
<div>
    <a href="/register">Register for Vault 713</a>
</div>
<div>
    <a href="/login">Login, you muggle</a>
</div>
<div>
    <a href="/dashboard">Access Your Dashboard</a>
</div>